name: Build GPU ROCK

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install yamllint
        run: python3 -m pip install yamllint
      - name: YAML Lint
        run:  |
          yamllint -d "{extends: relaxed, rules: {line-length: {max: 250}}}" \
            --no-warnings images/charmed-spark-gpu/rockcraft.yaml

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs:
      - lint
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable

      - name: Install dependencies
        run: |
          sudo snap install yq
          sudo snap install rockcraft --classic --edge    
      
      - name: Build image (GPU)
        run: sudo make build FLAVOUR=spark-gpu

      - name: Get Artifact Name
        id: artifact
        run: |
          GPU_ARTIFACT=$(make help FLAVOUR=spark-gpu | grep 'Artifact: ')
          echo "gpu_artifact_name=${GPU_ARTIFACT#'Artifact: '}" >> $GITHUB_OUTPUT

      - name: Change artifact permissions
        run: sudo chmod a+r  ${{ steps.artifact.outputs.gpu_artifact_name }}
          
      - name: Upload locally built artifact
        uses: actions/upload-artifact@v4
        with:
          name: charmed-spark-gpu
          path: |
            ${{ steps.artifact.outputs.gpu_artifact_name }}

